html {
    background-color: #883a3a;
    font-family: Helvetica, Arial, sans-serif;
    width: 100vw;
    padding: 0px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

body {
    padding-top: 70px;
}

.navbar-link {
    text-decoration: none;
}

.header {
    overflow: hidden;
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 2.2vh;
}

.content-text {
    font-size: 1.4em;
}

@media screen and (max-width: 575px) {
    .header {
        overflow: hidden;
        font-size: 2.2em;
        font-weight: bolder;
        margin-bottom: 2.2vh;
    }

    .content-text {
        font-size: 1em;
    }
}