html {
    font-family: Helvetica, Arial, sans-serif;
    width: 100vw;
    padding: 0px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

body {
    padding-top: 70px;
}

.navbar-link {
    text-decoration: none;
}

.header {
    font-size: 3em;
    font-weight: bold;
}

.header {
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 2.2vh;
}

.content-text {
    font-size: 1.4em;
}