.footer-container {
    background-color: #f4c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 1vh 0;
}

.footer-info {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 0;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.contact-email {
    color: black;
    text-decoration: none;
}

.contact-email:hover {
    color: gray;
    text-decoration: none;
}

.contact {
    margin: 0 0.5vw;
}

.bi {
    margin: 0 1vw;
}

.vertical {
    border: 0.2px solid black;
    height: 3vh;
}

@media screen and (max-width: 575px) {
    .footer-container {
        padding: 0;
    }

    .contact-links {
        flex-direction: column;

        .vertical {
            display: none;
        }
    }

    .contact {
        line-height: 1;
    }

    .contact-email {
        font-size: 0.75em;
        color: black;
        text-decoration: none;
    }

    .bi {
        margin: 0 2vw;
    }
}
