.ReactModal__Content {
    height: fit-content
}

.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-text {
    float: right;
    width: fit-content;
    justify-self: end;
    color: black;
    cursor: pointer;
}

.footer-container {
    justify-self: flex-end;
    width: 100%;
    height: 3vh;
    background-color: #395462;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-text {
    width: 99%;
    text-align: right;
    cursor: pointer;
    color: white;
}