.footer-container {
    background-color: #f4c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 1vh 0;
}

.footer-info {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 0;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.contact-email {
    color: black;
    text-decoration: none;
}

.contact-email:hover {
    color: gray;
    text-decoration: none;
}

.contact {
    margin: 0 0.5vw;
}

.bi {
    margin: 0 1vw;
}
