.members-container {
    padding: 0px;
}

.members-picture-container {
    position: relative;
    text-align: center;
    color: white;
}

.picture {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}

.picture-text {
    color: white;
    font-size: 8em;
    opacity: 0.9;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 575px) {
    .members-picture-container {
        .picture {
            width: 100vw;
            height: 40vh;
            object-fit: cover;
        }

        .picture-text {
            font-size: 6em;
        }
    }
}
