.navbar-light .navbar-nav .nav-link {
    color: #883a3a;
}

.navbar {
    img {
        margin-left: 0.5vw;
    }

    .navbar-container {
        margin-left: 0px;
    }

    h3 {
        margin: 0px 0.5vw;
    }
}
