.tht-purpose-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding: 2vh 0;
    background-color: #d7be69;
}

.tht-purpose-text-border {
    display: none;
    width: 20vw;
    padding: 0px 0.5vw;

    hr {
        border: 1.5px solid black;
        background-color: black;
    }
}

.tht-purpose {
    margin: 1vw 18vw;
    text-align: center;
    font-size: 1.4vmin;
}

@media only screen and (min-width: 768px) {
    .tht-purpose-text-border {
        display: block;
    }

    .tht-purpose {
        margin: 1vh 0.1vw;
        text-align: center;
        font-size: 1.4vmax;
    }
}

.brother-info-title {
    margin-top: 0px;
    font-size: 2.5vmax;
    font-weight: bolder;
    text-align: center;
}

.brother-info-text {
    font-size: 1.1vmax;
}

.rush-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
}

.rush-welcome {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 5vh;
}

.rush-events {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rush-event-card {
    margin-bottom: 2.5vh;
    padding: 0px;
    height: 40vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .event-0, .event-1, .event-2, .event-3 {
        box-sizing: border-box;
        border-radius: 10px;
        padding: 5vh 3vw;
        height: 100%;
        width: 100%;

        h4 {
            margin: 0px;
        }
    }

    .event-0 {
        background-color: #F4D1FF;
    }

    .event-1 {
        background-color: #FFDDD1;
    }

    .event-2 {
        background-color: #DCFFD1;
    }

    .event-3 {
        background-color: #D1F3FF;
    }
}

.norush-container {
    margin-top: 10vh;
    margin-bottom: 2vmin;
    font-size: 150%;
    text-align: center;
    box-sizing: border-box;
    padding: 3vmin;
    border-radius: 10px;
    background-color: #add8e6;
}