.rush {
    .container-fluid {
        padding: 0px;
    }

    .tht-purpose {
        padding: 5vh 15vw;
        background-color: #883a3a;
        color: white;
        font-size: 1.5em;
        font-weight: bolder;
        text-align: center;
    }

    .alert {
        text-align: center;
        margin-top: 5vh;
    }

    .rush-header {
        word-wrap: balance;
        text-align: center;
    }
}

.rush-header {
    margin-top: 2vh;
    margin-bottom: 2.2vh;
}

.interest-form {
    margin-bottom: 2vh;
}

.interest-link {
    text-decoration: none;
}

.interest-link:hover {
    color: rgb(141, 181, 218);
}

@media screen and (max-width: 575px) {
    .rush {
        .tht-purpose {
            margin-bottom: 1vh;
            padding: 2vh 5vw;
            background-color: #883a3a;
            color: white;
            font-size: 0.9em;
            font-weight: bold;
            text-align: center;
        }

        .alert {
            text-align: center;
            margin-top: 5vh;
        }

        .header {
            text-align: center;
        }

        .no-rush-alert {
            font-size: 0.9em;
        }
    }

    .rush-poster {
        display: none;
    }

    .rush-spacing {
        display: none;
    }
}

.rush-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rush-welcome {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 5vh;
}

.rush-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rush-event-card {
    margin-bottom: 2.5vh;
    padding: 0px;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5rem, 5vw, 1.5rem);
    .event-0,
    .event-1,
    .event-2,
    .event-3 {
        box-sizing: border-box;
        border-radius: 10px;
        padding: 5vh 3vw;
        height: 100%;
        width: 100%;

        h4 {
            margin: 0px;
        }
    }

    .event-0 {
        background-color: #f4d1ff;
    }

    .event-1 {
        background-color: #ffddd1;
    }

    .event-2 {
        background-color: #dcffd1;
    }

    .event-3 {
        background-color: #d1f3ff;
    }
}

.rush-title {
    text-align: center;
}

.responsive-header {
    font-size: 2.5rem;
    text-align: center;
}

.rush-header {
    font-size: clamp(1rem, 7vw, 3rem);
    text-align: center;
    font-weight: bolder;
}

.rush-chairs {
    font-size: 2rem;
    text-align: center;
}

.rush-card {
    height: 90%;
    width: 90%;
}

.rush-event-time {
    text-align: left;
    max-width: 50%;
}

.rush-event-location {
    text-align: right;
}

.rush-event-info {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}

.rush-text {
    margin-bottom: 0;
}

.join-rush-header {
    font-size: clamp(1rem, 7vw, 3rem);
    margin-bottom: 0.5vh;
    text-align: center;
    font-weight: bolder;
}

@media screen and (max-width: 575px) {
    .rush-event-card {
        .event-0,
        .event-1,
        .event-2,
        .event-3 {
            padding: 2vh 3vw;

            .rush-event-info {
                h4 {
                    font-size: 0.9em;
                }
            }
        }
    }

    .responsive-header {
        font-size: clamp(1rem, 5vw, 2rem);
    }

    .rush-header {
        margin-top: 0;
        font-size: clamp(1rem, 6vw, 2rem);
    }

    .rush-title {
        margin-bottom: 2vh;
    }
}
